In [22]:
import pandas as pd
import numpy as np

In [23]:
bost_df=pd.read_csv('scrape_booli_2022-07-19.csv',index_col=False)

Assess  
Define  
Clean  
Visualize



Assess:
- Alla kolumner kan ha bättre namn   

unnamed:
- [X] Ta bort index då det inte behövs, unnamed   

b_size:
-  delas till 2 kolumner
 - ant_rum
 - bost_stlk_m2

b_price:  
- ta bort kr i b-price
- gör om datatyp

b_pr_m2 :  
- ta bort kr/m2 på alla hus

b_sale_date:
gör om till date_time

In [24]:
bost_df.head()

,Unnamed: 0,b_loc,b_size,b_price,b_pr_m2,b_sale_rslt,b_sale_date
0,0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000 kr,15 500 kr/m²,0.0,2022-07-15
1,1,Hagagatan 7,"4 rum, 122 m²",1 100 000 kr,9 000 kr/m²,-7.9,2022-07-14
2,2,Uddabergsvägen 15,"4 rum, 119 m²",4 680 000 kr,39 300 kr/m²,4.1,2022-07-13
3,3,Lerdala Åbod gatan,"2 rum, 73 m²",1 650 000 kr,22 600 kr/m²,-2.1,2022-07-12
4,4,Rönnbärsvägen 21,"7 rum, 164 m²",2 300 000 kr,14 000 kr/m²,4.8,2022-07-12

In [25]:
bost_df.describe()

       Unnamed: 0  b_sale_rslt
count  175.000000   175.000000
mean    87.000000     3.477714
std     50.662281    11.136820
min      0.000000   -23.600000
25%     43.500000    -4.000000
50%     87.000000     0.000000
75%    130.500000     9.800000
max    174.000000    43.300000

**Define** 
Ta bort column 0
<!-- bost_df.reset_index() -->
Code :

In [26]:
#Drop column 0
bost_df.drop(bost_df.iloc[:,0:1],axis=1,inplace=True)
# Osäker på om denna behövs:
#bost_df.reset_index()

Test:

In [57]:
bost_df.head(2)

,b_loc,b_size,b_price,b_pr_m2,b_sale_rslt,b_sale_date,ant_rum,kvm
0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000 kr,15 500 kr/m²,0.0,2022-07-15,6 rum,161
1,Hagagatan 7,"4 rum, 122 m²",1 100 000 kr,9 000 kr/m²,-7.9,2022-07-14,4 rum,122

**Define:**  
    Dela på antal rum och kvm  
    Code:

In [44]:
#dela på b_size
bost_df[['ant_rum','kvm']]=bost_df.b_size.str.split(',',expand=True)

**Define**  
Ta bort ' m²' från kvm  
Code:

In [51]:
bost_df.kvm=bost_df.kvm.str.replace(' m²','')

Test:

In [37]:
len(room)

175

In [52]:
bost_df.head()

,b_loc,b_size,b_price,b_pr_m2,b_sale_rslt,b_sale_date,ant_rum,kvm
0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000 kr,15 500 kr/m²,0.0,2022-07-15,6 rum,161
1,Hagagatan 7,"4 rum, 122 m²",1 100 000 kr,9 000 kr/m²,-7.9,2022-07-14,4 rum,122
2,Uddabergsvägen 15,"4 rum, 119 m²",4 680 000 kr,39 300 kr/m²,4.1,2022-07-13,4 rum,119
3,Lerdala Åbod gatan,"2 rum, 73 m²",1 650 000 kr,22 600 kr/m²,-2.1,2022-07-12,2 rum,73
4,Rönnbärsvägen 21,"7 rum, 164 m²",2 300 000 kr,14 000 kr/m²,4.8,2022-07-12,7 rum,164

**Define**
- Ta bort rum från ant_rum kolumnen  
Code:

In [61]:
bost_df.ant_rum=bost_df.ant_rum.str.replace(' rum','')

Test:

In [64]:
bost_df.head(1)

,b_loc,b_size,b_price,b_pr_m2,b_sale_rslt,b_sale_date,ant_rum,kvm
0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000 kr,15 500 kr/m²,0.0,2022-07-15,6,161

In [88]:
bost_df['ant_rum']=bost_df['ant_rum'].replace('None',np.nan)

In [94]:
bost_df.ant_rum.dropna()

0      6.0
1      4.0
2      4.0
3      2.0
4      7.0
5      8.0
6      5.0
7      5.0
8      4.0
9      4.0
10     8.0
12     5.0
13     7.0
14     6.0
15     3.0
16     8.0
17     5.0
18     3.0
19     7.0
20     5.0
21     4.0
22     5.0
23     6.0
24     4.0
25     5.0
26     5.0
27     6.0
31     4.0
32     7.0
33     7.0
      ...
70     4.0
75     7.0
82     4.0
83     4.0
85     6.0
86     6.0
87     5.0
88     4.0
93     5.0
99     5.0
100    6.0
107    5.0
108    5.0
110    5.0
112    5.0
113    2.0
114    5.0
117    6.0
123    3.0
124    6.0
125    7.0
129    6.0
142    6.0
144    7.0
147    6.0
156    6.0
162    4.0
163    6.0
164    5.0
173    6.0
Name: ant_rum, Length: 74, dtype: float64

In [95]:
bost_df['ant_rum']=bost_df['ant_rum'].astype('Int64')

ValueError: Cannot convert non-finite values (NA or inf) to integer