In [1]:
import pandas as pd
import numpy as np

In [2]:
bost_df=pd.read_csv('scrape_booli_2022-07-19.csv',index_col=False)

Assess  
Define  
Clean  
Visualize



Assess:
- Alla kolumner kan ha bättre namn   

unnamed:
- [X] Ta bort index då det inte behövs, unnamed   

b_size:
-  delas till 2 kolumner
 - ant_rum
 - bost_stlk_m2

b_price:  
- ta bort kr i b-price
- gör om datatyp

b_pr_m2 :  
- ta bort kr/m2 på alla hus

b_sale_date:
gör om till date_time

In [3]:
bost_df.head()

,Unnamed: 0,b_loc,b_size,b_price,b_pr_m2,b_sale_rslt,b_sale_date
0,0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000 kr,15 500 kr/m²,0.0,2022-07-15
1,1,Hagagatan 7,"4 rum, 122 m²",1 100 000 kr,9 000 kr/m²,-7.9,2022-07-14
2,2,Uddabergsvägen 15,"4 rum, 119 m²",4 680 000 kr,39 300 kr/m²,4.1,2022-07-13
3,3,Lerdala Åbod gatan,"2 rum, 73 m²",1 650 000 kr,22 600 kr/m²,-2.1,2022-07-12
4,4,Rönnbärsvägen 21,"7 rum, 164 m²",2 300 000 kr,14 000 kr/m²,4.8,2022-07-12

In [4]:
bost_df.describe()

       Unnamed: 0  b_sale_rslt
count  175.000000   175.000000
mean    87.000000     3.477714
std     50.662281    11.136820
min      0.000000   -23.600000
25%     43.500000    -4.000000
50%     87.000000     0.000000
75%    130.500000     9.800000
max    174.000000    43.300000

**Define** 
Ta bort column 0
<!-- bost_df.reset_index() -->
Code :

In [5]:
#Drop column 0
bost_df.drop(bost_df.iloc[:,0:1],axis=1,inplace=True)
# Osäker på om denna behövs:
#bost_df.reset_index()

Test:

In [6]:
bost_df.head(2)

,b_loc,b_size,b_price,b_pr_m2,b_sale_rslt,b_sale_date
0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000 kr,15 500 kr/m²,0.0,2022-07-15
1,Hagagatan 7,"4 rum, 122 m²",1 100 000 kr,9 000 kr/m²,-7.9,2022-07-14

**Define:**  
    Dela på antal rum och kvm  
    Code:

In [7]:
#dela på b_size
bost_df[['ant_rum','kvm']]=bost_df.b_size.str.split(',',expand=True)

**Define**  
Ta bort ' m²' från kvm
Ta bort kr/m² från b_pr_m2
Ta bort lrono från 
Code:

In [38]:
bost_df.rename(columns = {'b_size':'b_size_m2', 'b_price':'b_price_kr','kvm':'kvm_kr_m2'}, inplace = True)

In [8]:
bost_df.kvm=bost_df.kvm.str.replace(' m²','')

In [15]:
bost_df.b_pr_m2=bost_df.b_pr_m2.str.replace(' kr/m²','')

In [17]:
bost_df.b_price=bost_df.b_price.str.replace(' kr','')

**Define**
- Ta bort rum från ant_rum kolumnen  
Code:

In [22]:
bost_df.ant_rum=bost_df.ant_rum.str.replace(' rum','')

Test:

In [39]:
bost_df.head()

,b_loc,b_size_m2,b_price_kr,b_pr_m2,b_sale_rslt,b_sale_date,ant_rum,kvm_kr_m2,kv_m
0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000,15 500,0.0,2022-07-15,6,15 500,161
1,Hagagatan 7,"4 rum, 122 m²",1 100 000,9 000,-7.9,2022-07-14,4,9 000,122
2,Uddabergsvägen 15,"4 rum, 119 m²",4 680 000,39 300,4.1,2022-07-13,4,39 300,119
3,Lerdala Åbod gatan,"2 rum, 73 m²",1 650 000,22 600,-2.1,2022-07-12,2,22 600,73
4,Rönnbärsvägen 21,"7 rum, 164 m²",2 300 000,14 000,4.8,2022-07-12,7,14 000,164

In [36]:
bost_df['kv_m']=bost_df.b_size_m2.str.split(',',expand=True)[1].str.replace(' m²','')

Drop kolumns:

In [41]:
bost_df.drop(['b_size_m2','b_pr_m2'],axis=1,inplace=True)

Test:

In [59]:
bost_df.head(10)

,b_loc,b_price_kr,b_sale_rslt,b_sale_date,ant_rum,kvm_kr_m2,kv_m
0,Kärleksstigen 28,2 500 000,0.0,2022-07-15,6,15 500,161
1,Hagagatan 7,1 100 000,-7.9,2022-07-14,4,9 000,122
2,Uddabergsvägen 15,4 680 000,4.1,2022-07-13,4,39 300,119
3,Lerdala Åbod gatan,1 650 000,-2.1,2022-07-12,2,22 600,73
4,Rönnbärsvägen 21,2 300 000,4.8,2022-07-12,7,14 000,164
5,Getaryggsvägen 24,7 000 000,7.8,2022-07-11,8,43 200,162
6,Orkidévägen 8,3 150 000,14.5,2022-07-08,5,32 100,98
7,Våmb Ekhyddan,1 400 000,-17.4,2022-07-08,5,8 300,169
8,Sjogerstad Mariedal,2 550 000,-8.8,2022-07-08,4,22 200,115
9,Lunne Äppelbo,1 200 000,20.6,2022-07-08,4,12 100,99

In [44]:
bost_df['ant_rum']=bost_df['ant_rum'].replace('None',np.nan)

In [54]:
bost_df.ant_rum.dropna()

0      6
1      4
2      4
3      2
4      7
      ..
156    6
162    4
163    6
164    5
173    6
Name: ant_rum, Length: 74, dtype: object

Convert to integers ,
problems to do cast to int from string

In [55]:
bost_df['ant_rum']=bost_df['ant_rum'].str.strip()

In [57]:
bost_df.ant_rum.astype('float')

0      6.0
1      4.0
2      4.0
3      2.0
4      7.0
      ...
170    NaN
171    NaN
172    NaN
173    6.0
174    NaN
Name: ant_rum, Length: 175, dtype: float64

In [61]:
bost_df.ant_rum=bost_df.ant_rum.astype('float')

Try to replace NaN to -1 istället för att kunna konvertera dessa till int

In [67]:
bost_df.ant_rum=bost_df.ant_rum.replace(np.nan,-1)
#bost_df.replace(np.nan, -1)

In [86]:
bost_df.ant_rum.sample()

143   -1
Name: ant_rum, dtype: int32

In [ ]:
# make string = int

In [76]:
bost_df.ant_rum=bost_df.ant_rum.astype('int')

In [79]:
bost_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   b_loc        175 non-null    object
 1   b_price_kr   175 non-null    object
 2   b_sale_rslt  175 non-null    float64
 3   b_sale_date  175 non-null    object
 4   ant_rum      175 non-null    int32
 5   kvm_kr_m2    175 non-null    object
 6   kv_m         175 non-null    object
dtypes: float64(1), int32(1), object(5)
memory usage: 9.0+ KB

problem med mellanslag i bost_pris

bost_df.b_price_kr.str.replace(' ','')