In [1]:
import pandas as pd
import numpy as np

In [2]:
bost_df=pd.read_csv('scrape_booli_2022-07-19.csv',index_col=False)

Assess  
Define  
Clean  
Visualize



Assess:
- Alla kolumner kan ha bättre namn   

unnamed:
- [X] Ta bort index då det inte behövs, unnamed   

b_size:
-  delas till 2 kolumner
 - ant_rum
 - bost_stlk_m2

b_price:  
- ta bort kr i b-price
- gör om datatyp

b_pr_m2 :  
- ta bort kr/m2 på alla hus

b_sale_date:
gör om till date_time

In [3]:
bost_df.head()

,Unnamed: 0,b_loc,b_size,b_price,b_pr_m2,b_sale_rslt,b_sale_date
0,0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000 kr,15 500 kr/m²,0.0,2022-07-15
1,1,Hagagatan 7,"4 rum, 122 m²",1 100 000 kr,9 000 kr/m²,-7.9,2022-07-14
2,2,Uddabergsvägen 15,"4 rum, 119 m²",4 680 000 kr,39 300 kr/m²,4.1,2022-07-13
3,3,Lerdala Åbod gatan,"2 rum, 73 m²",1 650 000 kr,22 600 kr/m²,-2.1,2022-07-12
4,4,Rönnbärsvägen 21,"7 rum, 164 m²",2 300 000 kr,14 000 kr/m²,4.8,2022-07-12

In [4]:
bost_df.describe()

       Unnamed: 0  b_sale_rslt
count  175.000000   175.000000
mean    87.000000     3.477714
std     50.662281    11.136820
min      0.000000   -23.600000
25%     43.500000    -4.000000
50%     87.000000     0.000000
75%    130.500000     9.800000
max    174.000000    43.300000

**Define** 
Ta bort column 0
<!-- bost_df.reset_index() -->
Code :

In [5]:
#Drop column 0
bost_df.drop(bost_df.iloc[:,0:1],axis=1,inplace=True)
# Osäker på om denna behövs:
#bost_df.reset_index()

Test:

In [6]:
bost_df.head(2)

,b_loc,b_size,b_price,b_pr_m2,b_sale_rslt,b_sale_date
0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000 kr,15 500 kr/m²,0.0,2022-07-15
1,Hagagatan 7,"4 rum, 122 m²",1 100 000 kr,9 000 kr/m²,-7.9,2022-07-14

**Define:**  
    Dela på antal rum och kvm  
    Code:

In [7]:
#dela på b_size
bost_df[['ant_rum','kvm']]=bost_df.b_size.str.split(',',expand=True)

**Define**  
Ta bort ' m²' från kvm
Ta bort kr/m² från b_pr_m2
Ta bort lrono från 
Code:

In [38]:
bost_df.rename(columns = {'b_size':'b_size_m2', 'b_price':'b_price_kr','kvm':'kvm_kr_m2'}, inplace = True)

In [8]:
bost_df.kvm=bost_df.kvm.str.replace(' m²','')

In [15]:
bost_df.b_pr_m2=bost_df.b_pr_m2.str.replace(' kr/m²','')

In [17]:
bost_df.b_price=bost_df.b_price.str.replace(' kr','')

**Define**
- Ta bort rum från ant_rum kolumnen  
Code:

In [22]:
bost_df.ant_rum=bost_df.ant_rum.str.replace(' rum','')

Test:

In [39]:
bost_df.head()

,b_loc,b_size_m2,b_price_kr,b_pr_m2,b_sale_rslt,b_sale_date,ant_rum,kvm_kr_m2,kv_m
0,Kärleksstigen 28,"6 rum, 161 m²",2 500 000,15 500,0.0,2022-07-15,6,15 500,161
1,Hagagatan 7,"4 rum, 122 m²",1 100 000,9 000,-7.9,2022-07-14,4,9 000,122
2,Uddabergsvägen 15,"4 rum, 119 m²",4 680 000,39 300,4.1,2022-07-13,4,39 300,119
3,Lerdala Åbod gatan,"2 rum, 73 m²",1 650 000,22 600,-2.1,2022-07-12,2,22 600,73
4,Rönnbärsvägen 21,"7 rum, 164 m²",2 300 000,14 000,4.8,2022-07-12,7,14 000,164

In [36]:
bost_df['kv_m']=bost_df.b_size_m2.str.split(',',expand=True)[1].str.replace(' m²','')

### Drop kolumns: 'b_size_m2','b_pr_m2'

In [41]:
bost_df.drop(['b_size_m2','b_pr_m2'],axis=1,inplace=True)

Test:

In [59]:
bost_df.head(10)

,b_loc,b_price_kr,b_sale_rslt,b_sale_date,ant_rum,kvm_kr_m2,kv_m
0,Kärleksstigen 28,2 500 000,0.0,2022-07-15,6,15 500,161
1,Hagagatan 7,1 100 000,-7.9,2022-07-14,4,9 000,122
2,Uddabergsvägen 15,4 680 000,4.1,2022-07-13,4,39 300,119
3,Lerdala Åbod gatan,1 650 000,-2.1,2022-07-12,2,22 600,73
4,Rönnbärsvägen 21,2 300 000,4.8,2022-07-12,7,14 000,164
5,Getaryggsvägen 24,7 000 000,7.8,2022-07-11,8,43 200,162
6,Orkidévägen 8,3 150 000,14.5,2022-07-08,5,32 100,98
7,Våmb Ekhyddan,1 400 000,-17.4,2022-07-08,5,8 300,169
8,Sjogerstad Mariedal,2 550 000,-8.8,2022-07-08,4,22 200,115
9,Lunne Äppelbo,1 200 000,20.6,2022-07-08,4,12 100,99

### Fix Antal rum

In [44]:
bost_df['ant_rum']=bost_df['ant_rum'].replace('None',np.nan)

In [54]:
bost_df.ant_rum.dropna()

0      6
1      4
2      4
3      2
4      7
      ..
156    6
162    4
163    6
164    5
173    6
Name: ant_rum, Length: 74, dtype: object

Convert to integers ,
problems to do cast to int from string

In [55]:
bost_df['ant_rum']=bost_df['ant_rum'].str.strip()

In [57]:
bost_df.ant_rum.astype('float')

0      6.0
1      4.0
2      4.0
3      2.0
4      7.0
      ...
170    NaN
171    NaN
172    NaN
173    6.0
174    NaN
Name: ant_rum, Length: 175, dtype: float64

In [61]:
bost_df.ant_rum=bost_df.ant_rum.astype('float')

Try to replace NaN to -1 istället för att kunna konvertera dessa till int

In [67]:
bost_df.ant_rum=bost_df.ant_rum.replace(np.nan,-1)
#bost_df.replace(np.nan, -1)

In [86]:
bost_df.ant_rum.sample()

143   -1
Name: ant_rum, dtype: int32

In [ ]:
# make string = int

In [76]:
bost_df.ant_rum=bost_df.ant_rum.astype('int')

In [108]:
bost_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   b_loc        175 non-null    object
 1   b_price_kr   175 non-null    int32
 2   b_sale_rslt  175 non-null    float64
 3   b_sale_date  175 non-null    object
 4   ant_rum      175 non-null    int32
 5   kvm_kr_m2    175 non-null    object
 6   kv_m         175 non-null    object
dtypes: float64(1), int32(2), object(4)
memory usage: 8.3+ KB

problem med mellanslag i bost_pris, måste ordnas innan konvertering

### Fix b_price_kr

In [99]:
bost_df['b_price_kr']=bost_df['b_price_kr'].str.replace(' ','')

In [100]:
bost_df['b_price_kr']

0      2500000
1      1100000
2      4680000
3      1650000
4      2300000
        ...
170    5100000
171    2350000
172    2500000
173     950000
174    2600000
Name: b_price_kr, Length: 175, dtype: object

In [101]:
bost_df['b_price_kr']=bost_df['b_price_kr'].astype(int)

In [105]:
bost_df.head()

,b_loc,b_price_kr,b_sale_rslt,b_sale_date,ant_rum,kvm_kr_m2,kv_m
0,Kärleksstigen 28,2500000,0.0,2022-07-15,6,15 500,161
1,Hagagatan 7,1100000,-7.9,2022-07-14,4,9 000,122
2,Uddabergsvägen 15,4680000,4.1,2022-07-13,4,39 300,119
3,Lerdala Åbod gatan,1650000,-2.1,2022-07-12,2,22 600,73
4,Rönnbärsvägen 21,2300000,4.8,2022-07-12,7,14 000,164

### Fix datetime

In [ ]:
pd.to_datetime()

In [112]:
bost_df['b_sale_date']=pd.to_datetime(bost_df['b_sale_date'])

### Fix kvm_kr_m2

In [118]:
bost_df['kvm_kr_m2']=bost_df['kvm_kr_m2'].str.replace(' ','')

In [120]:
bost_df['kvm_kr_m2']=bost_df['kvm_kr_m2'].astype(int)

### Fix kv_m

In [123]:
bost_df['kv_m']=bost_df['kv_m'].str.strip()

In [ ]:
bost_df['kv_m']=bost_df['kv_m'][]

#### Replace all that is not a digit with ''

In [131]:
bost_df['kv_m']=bost_df['kv_m'].str.extractall('(\d+)').unstack().astype(int)

AttributeError: Can only use .str accessor with string values!

In [136]:
bost_df.dtypes

b_loc                  object
b_price_kr              int32
b_sale_rslt           float64
b_sale_date    datetime64[ns]
ant_rum                 int32
kvm_kr_m2               int32
kv_m                    int32
dtype: object

In [137]:
bost_df.head()

,b_loc,b_price_kr,b_sale_rslt,b_sale_date,ant_rum,kvm_kr_m2,kv_m
0,Kärleksstigen 28,2500000,0.0,2022-07-15,6,15500,161
1,Hagagatan 7,1100000,-7.9,2022-07-14,4,9000,122
2,Uddabergsvägen 15,4680000,4.1,2022-07-13,4,39300,119
3,Lerdala Åbod gatan,1650000,-2.1,2022-07-12,2,22600,73
4,Rönnbärsvägen 21,2300000,4.8,2022-07-12,7,14000,164

In [138]:
#### Save finished wranglel file to new CSV

In [139]:
bost_df.to_csv('wrangled_bost_p.csv',sep=',',encoding='utf-8')

In [142]:
#### Beräkna utgångspriset på fastigheten
# enligt rutan nedan kan man inte använda procent talet direkt utan måste konvertera detta först så att det passar beräkningen.

In [143]:
bost_df['ack_calc_res']=bost_df['b_sale_rslt']*0.01

In [144]:
bost_df

,b_loc,b_price_kr,b_sale_rslt,b_sale_date,ant_rum,kvm_kr_m2,kv_m,ack_calc_res
0,Kärleksstigen 28,2500000,0.0,2022-07-15,6,15500,161,0.000
1,Hagagatan 7,1100000,-7.9,2022-07-14,4,9000,122,-0.079
2,Uddabergsvägen 15,4680000,4.1,2022-07-13,4,39300,119,0.041
3,Lerdala Åbod gatan,1650000,-2.1,2022-07-12,2,22600,73,-0.021
4,Rönnbärsvägen 21,2300000,4.8,2022-07-12,7,14000,164,0.048
...,...,...,...,...,...,...,...,...
170,Berg Högsböla 1,5100000,13.3,2022-01-10,-1,23200,220,0.133
171,Alvägen 4,2350000,42.9,2022-01-10,-1,22600,104,0.429
172,Ringstigen 11,2500000,0.2,2022-01-10,-1,27800,90,0.002
173,Vristulven Sjöberga,950000,0.0,2022-01-07,6,7600,125,0.000
174,Åkleby Gård,2600000,8.6,2022-01-07,-1,18800,138,0.086

In [158]:
bost_df['starting_price']=(bost_df.b_price_kr/(1-bost_df.ack_calc_res)).round()

In [ ]:
for _ in range()
# If bost_df.ack_calc_res < 1
#bost_df['starting_price']=(bost_df.b_price_kr/(1-bost_df.ack_calc_res)).round()
#else
#bost_df['starting_price']=(bost_df.b_price_kr * (1-bost_df.ack_calc_res)).round()

In [159]:
bost_df.starting_price

0      2500000.0
1      1019462.0
2      4880083.0
3      1616063.0
4      2415966.0
         ...
170    5882353.0
171    4115587.0
172    2505010.0
173     950000.0
174    2844639.0
Name: starting_price, Length: 175, dtype: float64

In [160]:
bost_df.starting_price.astype(int)

0      2500000
1      1019462
2      4880083
3      1616063
4      2415966
        ...
170    5882353
171    4115587
172    2505010
173     950000
174    2844639
Name: starting_price, Length: 175, dtype: int32

In [161]:
bost_df.head()

,b_loc,b_price_kr,b_sale_rslt,b_sale_date,ant_rum,kvm_kr_m2,kv_m,ack_calc_res,starting_price
0,Kärleksstigen 28,2500000,0.0,2022-07-15,6,15500,161,0.000,2500000.0
1,Hagagatan 7,1100000,-7.9,2022-07-14,4,9000,122,-0.079,1019462.0
2,Uddabergsvägen 15,4680000,4.1,2022-07-13,4,39300,119,0.041,4880083.0
3,Lerdala Åbod gatan,1650000,-2.1,2022-07-12,2,22600,73,-0.021,1616063.0
4,Rönnbärsvägen 21,2300000,4.8,2022-07-12,7,14000,164,0.048,2415966.0